form{
  display: inline;
}

.App {
  text-align: center;
}

.btn {
  background-color: white;
  height: 35px;
  margin-left: 20px;
  margin-bottom: 20px;
  border-color: #cccccc;
}
.card {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}
.search {
  width: 800px;
  height: 35px;
  margin-bottom: 20px;
  border-color: #cccccc;
  background-color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media screen and (max-width: 1024px) {
  .card {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .App {
    text-align: center;
  }

  .btn {
    background-color: white;
    height: 35px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-color: #cccccc;
  }

  .search {
    width: 600px;
    height: 35px;
    margin-bottom: 20px;
    border-color: #cccccc;
    background-color: white;
  }
}

@media screen and (max-width: 767px) {
  
  .App {
    text-align: center;
  }

  .btn {
    background-color: white;
    height: 35px;
    margin-bottom: 20px;
    border-color: #cccccc;
  }
  .card{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .search {
    width: 94%;
    height: 35px;
    margin-bottom: 20px;
    border-color: #cccccc;
    background-color: white;
  }
}